<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="container">
    <mat-tab-group>
      <mat-tab label="Ingreso">

        <div class="container text-center mt-3">
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Monto</mat-label>
                <input matInput placeholder="Monto S/" >
              </mat-form-field>
            </div>
            <div class="col">

              <mat-form-field>
                <mat-label>Periodo</mat-label>
                <mat-select [(value)]="selectedIngresoPeriodo">
                  <mat-option >None</mat-option>
                  <mat-option value="option1">Quincenal</mat-option>
                  <mat-option value="option2">Bimestral</mat-option>
                  <mat-option value="option3">Trimestral</mat-option>
                  <mat-option value="option4">Semestral</mat-option>
                  <mat-option value="option5">Personalizado</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width" *ngIf="selectedIngresoPeriodo === 'option5'">
                <mat-label>Dias Personalizados</mat-label>
                <input matInput placeholder="Dias">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Tipo porcentaje tasa</mat-label>
                <input matInput placeholder="Tasa %" >
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="container text-center">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Tipo de Tasa</mat-label>
                <mat-select [(value)]="selectedIngresoTasa">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Tasa Efectiva</mat-option>
                  <mat-option value="option2">Tasa Nominal</mat-option>
                  <mat-option value="option2">Tasa Descontada</mat-option>

                </mat-select>
              </mat-form-field>


            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Capitalización</mat-label>
                <input matInput placeholder="Dias" >
              </mat-form-field>
            </div>
            <div class="col">

              <mat-form-field>
                <mat-label>Fecha de Operación</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

            </div>
          </div>
        </div>

      </mat-tab>
      <mat-tab label="Retiro">

        <div class="container text-center mt-3">
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Monto</mat-label>
                <input matInput placeholder="Monto S/" >
              </mat-form-field>
            </div>
            <div class="col">

              <mat-form-field>
                <mat-label>Periodo</mat-label>
                <mat-select [(value)]="selectedRetiroPeriodo">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Quincenal</mat-option>
                  <mat-option value="option2">Bimestral</mat-option>
                  <mat-option value="option3">Trimestral</mat-option>
                  <mat-option value="option4">Semestral</mat-option>
                  <mat-option value="option5">Personalizado</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width" *ngIf="selectedRetiroPeriodo === 'option5'">
                <mat-label>Dias Personalizados</mat-label>
                <input matInput placeholder="Dias">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Tipo porcentaje tasa</mat-label>
                <input matInput placeholder="Tasa %" >
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="container text-center">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Tipo de Tasa</mat-label>
                <mat-select [(value)]="selectedRetiroTasa">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Tasa Efectiva</mat-option>
                  <mat-option value="option2">Tasa Nominal</mat-option>
                  <mat-option value="option2">Tasa Descontada</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Capitalización</mat-label>
                <input matInput placeholder="Dias" >
              </mat-form-field>
            </div>
            <div class="col">

              <mat-form-field>
                <mat-label>Fecha de Operación</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Libre">
        <div class="container text-center mt-3">
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Monto</mat-label>
                <input matInput placeholder="Monto S/" >
              </mat-form-field>
            </div>
            <div class="col">

              <mat-form-field>
                <mat-label>Periodo</mat-label>
                <mat-select [(value)]="selectedLibrePeriodo">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Quincenal</mat-option>
                  <mat-option value="option2">Bimestral</mat-option>
                  <mat-option value="option3">Trimestral</mat-option>
                  <mat-option value="option4">Semestral</mat-option>
                  <mat-option value="option5">Personalizado</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width" *ngIf="selectedLibrePeriodo === 'option5'">
                <mat-label>Dias Personalizados</mat-label>
                <input matInput placeholder="Dias">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Tipo porcentaje tasa</mat-label>
                <input matInput placeholder="Tasa %" >
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="container text-center">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Tipo de Tasa</mat-label>
                <mat-select [(value)]="selectedLibreTasa">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Tasa Efectiva</mat-option>
                  <mat-option value="option2">Tasa Nominal</mat-option>
                  <mat-option value="option2">Tasa Descontada</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Capitalización</mat-label>
                <input matInput placeholder="Dias" >
              </mat-form-field>
            </div>
            <div class="col">

              <mat-form-field>
                <mat-label>Fecha de Operación</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

            </div>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>
    <div style="text-align: right">
      <button mat-raised-button color="primary" routerLink="/components/usuarios/nuevo">Nuevo </button>
    </div>

    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="tipo_deposito">
        <th mat-header-cell *matHeaderCellDef>Tipo deposito</th>
        <td mat-cell *matCellDef="let element">{{ element.tipo_deposito }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let element">
          {{ element.monto }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="tipo_tasa">
        <th mat-header-cell *matHeaderCellDef>Tipo tasa </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipo_tasa }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="tipo_periodo">
        <th mat-header-cell *matHeaderCellDef>Tipo periodo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipo_periodo }}
        </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="periodo">
        <th mat-header-cell *matHeaderCellDef>Periodo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.periodo }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="porcentaje_tasa">
        <th mat-header-cell *matHeaderCellDef>Porcentaje tasa</th>
        <td mat-cell *matCellDef="let element">
          {{ element.porcentaje_tasa }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="capitalizacion">
        <th mat-header-cell *matHeaderCellDef>capitalizacion</th>
        <td mat-cell *matCellDef="let element">
          {{ element.capitalizacion }}
        </td>
      </ng-container>

      <ng-container matColumnDef="users">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">
          {{ element.users.username }}
        </td>
      </ng-container>

      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" [routerLink]="['ediciones', element.id]">
            Actualizar
          </button>
        </td>
      </ng-container>


      <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon"
            (click)="eliminar(element.id)">
            <mat-icon>delete</mat-icon>
            <!--Eliminar-->
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</body>

</html>
