<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container" style="text-align: center">
    <mat-tab-group [(selectedIndex)]="demo1TabIndex">
      <mat-tab label="Ingreso/Deposito">
        <form [formGroup]="formIngreso" class="example-form">
          <div class="container text-center mt-3">
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Monto</mat-label>
                  <input matInput placeholder="Monto S/" formControlName="monto" (keypress)="onKeyPress($event)">
                </mat-form-field>
              </div>
              <div class="col">

                <mat-form-field>
                  <mat-label>Periodo</mat-label>
                  <mat-select formControlName="periodo">
                    <mat-option *ngFor="let p of tipoperiodo" [value]="p.value">
                      {{ p.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" *ngIf="formIngreso.get('periodo')?.value === 5">
                  <mat-label>Dias Personalizados</mat-label>
                  <input matInput placeholder="Dias" formControlName="diasPersonalizados">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Tipo porcentaje tasa</mat-label>
                  <input matInput placeholder="Tasa %" formControlName="porcentaje_tasa"
                    (keypress)="onKeyPress($event)">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="container text-center">
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Tipo de Tasa</mat-label>
                  <mat-select formControlName="tipo_tasa">
                    <mat-option *ngFor="let p of tipotasa" [value]="p.value">
                      {{ p.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


              </div>

              <div class="col" *ngIf="formIngreso.get('tipo_tasa')?.value === 'Tasa Nominal'">

                <mat-form-field class="example-full-width">
                  <mat-label>Capitalización</mat-label>
                  <mat-select formControlName="capitalizacion">
                    <mat-option *ngFor="let p of tipocapitalizacion" [value]="p.value">
                      {{ p.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" *ngIf="formIngreso.get('capitalizacion')?.value === 5">
                  <mat-label>Capitalizacion personalizada</mat-label>
                  <input matInput placeholder="Dias" formControlName="capitalizacionersonalizada">
                </mat-form-field>
              </div>

              <div class="col">

                <mat-form-field>
                  <mat-label>Fecha de Operación</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="fecha_operacion">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Retiro">
        <form [formGroup]="formRetiro" class="example-form">

          <div class="container text-center mt-3">
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Monto</mat-label>
                  <input matInput placeholder="Monto S/" formControlName="monto" (keypress)="onKeyPress($event)">
                </mat-form-field>
              </div>
              <div class="col">

                <mat-form-field>
                  <mat-label>Periodo</mat-label>
                  <mat-select formControlName="periodo">
                    <mat-option *ngFor="let p of tipoperiodo" [value]="p.value">
                      {{ p.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" *ngIf="formRetiro.get('periodo')?.value === 5">
                  <mat-label>Dias Personalizados</mat-label>
                  <input matInput placeholder="Dias" formControlName="diasPersonalizados">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Tipo porcentaje tasa</mat-label>
                  <input matInput placeholder="Tasa %" formControlName="porcentaje_tasa"
                    (keypress)="onKeyPress($event)">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="container text-center">
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Tipo de Tasa</mat-label>
                  <mat-select formControlName="tipo_tasa">
                    <mat-option *ngFor="let p of tipotasa" [value]="p.value">
                      {{ p.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col" *ngIf="formRetiro.get('tipo_tasa')?.value === 'Tasa Nominal'">

                <mat-form-field class="example-full-width">
                  <mat-label>Capitalización</mat-label>
                  <mat-select formControlName="capitalizacion">
                    <mat-option *ngFor="let p of tipocapitalizacion" [value]="p.value">
                      {{ p.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" *ngIf="formRetiro.get('capitalizacion')?.value === 5">
                  <mat-label>Capitalizacion personalizada</mat-label>
                  <input matInput placeholder="Dias" formControlName="capitalizacionersonalizada">
                </mat-form-field>
              </div>
              <div class="col">

                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Fecha de Operación</mat-label>
                  <input matInput [matDatepicker]="picker2" formControlName="fecha_operacion">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

              </div>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Libre">
        <form [formGroup]="formLibre" class="example-form">

          <div class="container text-center mt-3">
            <div class="row">

              <div class="col">

                <mat-form-field>
                  <mat-label>Periodo</mat-label>
                  <mat-select formControlName="periodo">
                    <mat-option *ngFor="let p of tipoperiodo" [value]="p.value">
                      {{ p.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" *ngIf="formLibre.get('periodo')?.value === 5">
                  <mat-label>Dias Personalizados</mat-label>
                  <input matInput placeholder="Dias" formControlName="diasPersonalizados">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Tipo porcentaje tasa</mat-label>
                  <input matInput placeholder="Tasa %" formControlName="porcentaje_tasa"
                    (keypress)="onKeyPress($event)">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="container text-center">
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label>Tipo de Tasa</mat-label>
                  <mat-select formControlName="tipo_tasa">
                    <mat-option *ngFor="let p of tipotasa" [value]="p.value">
                      {{ p.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col" *ngIf="formLibre.get('tipo_tasa')?.value === 'Tasa Nominal'">

                <mat-form-field class="example-full-width">
                  <mat-label>Capitalización</mat-label>
                  <mat-select formControlName="capitalizacion">
                    <mat-option *ngFor="let p of tipocapitalizacion" [value]="p.value">
                      {{ p.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" *ngIf="formLibre.get('capitalizacion')?.value === 5">
                  <mat-label>Capitalizacion personalizada</mat-label>
                  <input matInput placeholder="Dias" formControlName="capitalizacionersonalizada">
                </mat-form-field>
              </div>
              <div class="col">

                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Fecha de Operación</mat-label>
                  <input matInput [matDatepicker]="picker3" formControlName="fecha_operacion">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>

              </div>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>

    <p>{{ codeid }}</p>


    <div class="botones">
      <button mat-raised-button color="primary" (click)="aceptar()">Nuevo </button>
      <button mat-raised-button color="warn" (click)="ngOnInit()">Limpiar</button>
    </div>

    <br>

    <table id="table" mat-table [dataSource]="datasource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="idx">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="tipo_deposito">
        <th mat-header-cell *matHeaderCellDef>Tipo deposito</th>
        <td mat-cell *matCellDef="let element">{{ element.tipo_deposito }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let element">
          {{ element.monto }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="tipo_tasa">
        <th mat-header-cell *matHeaderCellDef>Tipo tasa </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipo_tasa }}
        </td>
      </ng-container>


      <!-- Symbol Column -->
      <ng-container matColumnDef="periodo">
        <th mat-header-cell *matHeaderCellDef>Periodo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.periodo }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="porcentaje_tasa">
        <th mat-header-cell *matHeaderCellDef>Porcentaje tasa</th>
        <td mat-cell *matCellDef="let element">
          {{ element.porcentaje_tasa }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="capitalizacion">
        <th mat-header-cell *matHeaderCellDef>Capitalizacion</th>
        <td mat-cell *matCellDef="let element">
          {{ element.capitalizacion }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="fecha_operacion">
        <th mat-header-cell *matHeaderCellDef>Fecha operacion</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fecha_operacion }}
        </td>
      </ng-container>

      <ng-container matColumnDef="users">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">
          {{ element.users.username }}
        </td>
      </ng-container>

      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <div class="row" style="justify-content: space-between;">
            <button mat-mini-fab color="primary" (click)="init(element.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="confirm(element.id)">
              <mat-icon>delete</mat-icon>
              <!-- Eliminar -->
            </button>
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator class="mat-elevation-z8" [pageSize]="5" showFirstLastButtons > </mat-paginator>

    <div class="botones">
    <button style="top: 10px;" mat-raised-button color="primary" (click)="gettingAllOperations()" >Calcular </button>
    <button style="top: 10px;" mat-raised-button color="primary" (click)="generarPDF()" >PDF </button>
</div>
    <br>
    <p style="padding-top: 20px;">{{ resultado }}</p>

  </div>
</body>

</html>
