.mat-toolbar {
    background-color: #FFD60A;
    color: rgb(0, 0, 0);
  }
  .sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
  
  }
  
  .sidebar-content button {
    margin-bottom: 8px; /* Espaciado entre botones */
    color: rgb(0, 0, 0)
  }
  
  .mat-sidenav{
    background-color: #FFD60A;
  }
  
  .custom-sidebar {
    background-color: #FFFFFF;/*#24aad3;*/
  }
  
  .custom-sidebar .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  